body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
}

a {
  margin-bottom: 20px;
}

.input-btn {
  display: flex;
  gap: 8px;
}

.input-stile {
  width: 272px;
  border-radius: 4px;
  background: #fff;
}

.input-stile:hover {
  border-color: #000;
}

.input-stile:active {
  border-color: #4e75ff;
}

.input-stile:disabled {
  background-color: #fafafa;
  color: #808080;
}

.btn-stile {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.btn-stile:hover {
  background-color: #6c8cff;
}

.btn-stile:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin-top: 5px;
}
